.App {
  text-align: center;
}

.Global {
  display: flex;
  /* padding: 20px; */
  background-color: #c3bfbf;
}

.Global img {

  width: 263px;
  height: 200px;
}

.First {
  display: flex;
  flex-direction: column;
  padding: 68px;
  padding-left: 20px;
}

.Naa {
  display: flex;
  flex-direction: column;
}

.First img {
  width: 34px;
  border-radius: 384px;
  height: 42px;
  position: absolute;
  top: 123px;
}

.btn btn-primary {
  width: 135px !important;
  position: absolute !important;
  left: 780px !important;
}

.Naa h6 {
  position: absolute;
  top: 124px !important;
  left: 319px;
}

.Naa p {
  position: absolute;
  top: 140px !important;
  left: 319px;
}

.First img {

  width: 34px;
  border-radius: 384px;
  height: 38px;
}

.Bag {
  margin-left: 205px;
  background: #ddc6a7;
  width: 289px;
  height: 255px;
  padding: 20px;
  border-radius: 26px;
}
 